<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-gray-100 flex flex-col gap-4 p-8 items-center h-screen max-w-[1200px] mx-auto" style="width: calc(100vw - 0.5em)">
  <div class="px-8 py-4 bg-white rounded-lg shadow-md w-full">
    <div class="flex flex-row max-lg:flex-col gap-36 max-lg:gap-4 justify-between items-center">
      <div class="flex flex-col">
        <% if (data && data.name && data.state && data.country) { %>
          <h1 class="font-semibold max-md:text-center md:text-3xl text-xl"><%= data.name %></h1>
          <h2 class="max-md:text-center"><%= data.state + ', ' + data.country %></h2>
        <% } else if (data && data.name && data.country) { %>
          <h1 class="font-semibold max-md:text-center md:text-3xl text-xl"><%= data.name %></h1>
          <h2 class="max-md:text-center"><%= data.country %></h2>
        <% } else if (data && data.name) { %>
          <h1 class="font-semibold max-md:text-center md:text-3xl text-xl"><%= data.name %></h1>
        <% } else { %>
          <h1 class="font-semibold max-md:text-center md:text-3xl text-xl">Weather</h1>
        <% } %>
      </div>
      <form action="/search" method="POST" class="flex flex-row w-3/5 max-md:w-fit gap-2">
        <input type="text" name="searchTerm" placeholder="Enter City" class="p-2.5 border border-gray-300 rounded flex-grow">
        <input type="submit" class="px-4 bg-blue-500 text-white border-none rounded cursor-pointer active:scale-95 transition-transform duration-100"></input>
      </form>
    </div>
  </div>
  <div class="flex flex-row max-md:flex-col gap-4 w-full">
    <div class="flex flex-col px-8 py-4 pb-8 gap-2 bg-white rounded-lg h-full shadow-md flex-grow">
      <h2 class="font-medium text-xl">AI Overview</h2>
      <div class="bg-[#f9f9f9] px-4 py-2 rounded">
        <% if (msg) { %>
          <p><%= msg %></p>
        <% } else { %>
          <p>--</p>
        <% } %>
      </div>
      <p class="text-xs p-1">AI can make mistakes. Double check its output if possible.</p>
    </div>
    <div class="flex flex-row gap-4 max-md:flex-wrap">
      <div class="flex flex-col gap-1 p-4 bg-white rounded-lg shadow-md flex-grow-0 max-md:flex-grow items-center justify-center">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 32 32"><path fill="black" d="M16 5a3 3 0 0 0-3 3v9.975l-.333.298a5 5 0 1 0 6.666 0L19 17.975V8a3 3 0 0 0-3-3m-5 3a5 5 0 0 1 10 0v9.101a7 7 0 1 1-10 0zm4 4a1 1 0 1 1 2 0v7.17a3.001 3.001 0 1 1-2 0z"/></svg>
          <% if (data && data.main && data.main.feels_like) { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap"><%= data.main.feels_like %>° F</h2>
          <% } else { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap">--</h2>
          <% } %>
        </div>
        <p class="text-nowrap">Feels Like</p>
      </div>
      <div class="flex flex-col gap-1 p-4 bg-white rounded-lg shadow-md flex-grow-0 max-md:flex-grow items-center justify-center">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 512 512"><path fill="none" stroke="black" stroke-miterlimit="10" stroke-width="32" d="M400 320c0 88.37-55.63 144-144 144s-144-55.63-144-144c0-94.83 103.23-222.85 134.89-259.88a12 12 0 0 1 18.23 0C296.77 97.15 400 225.17 400 320Z"/><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M344 328a72 72 0 0 1-72 72"/></svg>
          <% if (data && data.main && data.main.humidity) { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap"><%= data.main.humidity %>%</h2>
          <% } else { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap">--</h2>
          <% } %>
        </div>
        <p class="text-nowrap">Humidity</p>
      </div>
      <div class="flex flex-col gap-1 p-4 bg-white rounded-lg shadow-md flex-grow-0 max-md:flex-grow items-center justify-center">
        <div class="flex flex-row items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 256 256"><path fill="black" d="M184 184a32 32 0 0 1-32 32c-13.7 0-26.95-8.93-31.5-21.22a8 8 0 0 1 15-5.56C137.74 195.27 145 200 152 200a16 16 0 0 0 0-32H40a8 8 0 0 1 0-16h112a32 32 0 0 1 32 32m-64-80a32 32 0 0 0 0-64c-13.7 0-26.95 8.93-31.5 21.22a8 8 0 0 0 15 5.56C105.74 60.73 113 56 120 56a16 16 0 0 1 0 32H24a8 8 0 0 0 0 16Zm88-32c-13.7 0-26.95 8.93-31.5 21.22a8 8 0 0 0 15 5.56C193.74 92.73 201 88 208 88a16 16 0 0 1 0 32H32a8 8 0 0 0 0 16h176a32 32 0 0 0 0-64"/></svg>
          <% if (data && data.main && data.wind.speed) { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap"><%= data.wind.speed %> MPH</h2>
          <% } else { %>
            <h2 class="md:text-3xl text-xl font-bold pr-3 text-nowrap">--</h2>
          <% } %>
        </div>
        <p class="text-nowrap">Wind Speed</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row max-md:flex-col gap-4 w-full h-full">
    <div class="flex flex-col px-8 max-md:px-2 py-4 bg-white rounded-lg h-full shadow-md justify-start flex-grow">
      <h2 class="font-medium text-xl pl-4">2:3 Forecast</h2>
      <div class="pb-4">
        <div class="mt-8 max-w-screen-lg px-2">    
          <div class="mt-6 p-2 overflow-hidden rounded-xl bg-[#f9f9f9]">
            <table class="">
              <thead class="hidden lg:table-header-group">
              <tr class="">
                <td width="50%" class="whitespace-normal py-4 text-sm font-medium text-gray-500 text-nowrap sm:px-6">Time</td>
          
                <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 text-nowrap sm:px-6">Temp</td>
          
                <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 text-nowrap sm:px-6">Forecast</td>

              </tr>
              </thead>
          
              <tbody class="lg:border-gray-300">
              <% if (data && data.hourly) { %>
                <% data.hourly.map((hour, index) => { %>
                  <tr class="">
                    <td width="50%" class="whitespace-no-wrap py-4 text-sm text-nowrap font-semibold text-gray-600 sm:px-6">
                      <% if (hour && hour.dt_txt) { %>
                        <% const dt = new Date(hour.dt_txt); %>
                        <% const time = dt.toLocaleTimeString([], { weekday: 'short', hour: '2-digit', minute: '2-digit' }); %>
                        <%= time %>
                        <% } else { %>
                        --
                      <% } %>                      
                    </td>

                    <% if (hour && hour.main && hour.main.temp) { %>
                      <td class="whitespace-no-wrap py-4 md:text-3xl text-xl text-nowrap font-bold sm:px-6 lg:table-cell"><%= hour.main.temp %>° F</td>
                    <% } else { %>
                      <td class="whitespace-no-wrap hidden py-4 md:text-3xl text-xl text-nowrap font-bold sm:px-6 lg:table-cell">--</td>
                    <% } %>

                    <% if (hour && hour.weather[0] && hour.weather[0].main) { %>
                      <td class="whitespace-no-wrap py-4 md:px-6 text-right md:text-3xl text-md text-nowrap font-semibold lg:text-left">
                        <%= hour.weather[0].main %>
                      </td>
                    <% } else { %>
                      <td class="whitespace-no-wrap py-4 md:px-6 text-right md:text-3xl text-md text-nowrap font-semibold lg:text-left">
                        --
                      </td>
                    <% } %>
                  </tr>
                <% }) %>
              <% } %>
              </tbody>
            </table>
            </table>
          </div>
        </div>
        </div>
    </div>
    <div class="flex flex-col px-8 py-4 pb-8 gap-4 bg-white rounded-lg h-full shadow-md justify-start flex-grow">
      <h2 class="font-medium text-xl">Radar</h2>
      <% if (data) { %>
        <iframe src="https://www.rainviewer.com/map.html?loc=52.2528,10.3995,5.737880534239682&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=1&c=3&o=83&lm=1&layer=radar&mlayer=0&sm=1&sn=1&hu=false" width="100%" frameborder="0" style="border:0;border-radius:5px;height:100%;"></iframe>
      <% } %>
    </div>
  </div>
</body>
<footer class="flex flex-row justify-between items-center pb-4 w-full">
  <p class="m-1.5 text-gray-800">Liam Sullivan</p>
  <p class="m-1.5">Built with <a href="https://chatgpt.com/" class="text-gray-800 hover:underline">GPT-3.5</a></p>
</footer>
<script src="/scripts/search.js"></script>
</html>